<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <package id="OpenAI" version="1.7.2" targetFramework="netstandard2.0" allowedVersions="[1.7.2]" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="netstandard2.0" allowedVersions="[1.1.1, )" />
  <package id="Microsoft.Extensions.Http" version="2.2.0" targetFramework="netstandard2.0" allowedVersions="[2.1.0, )" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="netstandard2.0" allowedVersions="[13.0.3, )" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="netstandard2.0" allowedVersions="2.2.0" />
  <package id="Microsoft.Extensions.Logging" version="2.2.0" targetFramework="netstandard2.0" allowedVersions="[2.2.0, )" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="netstandard2.0" allowedVersions="2.2.0" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.2.4" targetFramework="netstandard2.0" allowedVersions="[2.2.0, )" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="netstandard2.0" allowedVersions="[2.2.0, )" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="netstandard2.0" allowedVersions="2.2.0" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="netstandard2.0" allowedVersions="[4.5.0, )" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="netstandard2.0" allowedVersions="[2.2.0, )" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="netstandard2.0" allowedVersions="[4.5.1, )" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="netstandard2.0" allowedVersions="[2.2.0, )" />
</packages>